/*
Reset CSS 
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
color: var(--color-text-pri);
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
#root, #__next {
isolation: isolate;
}
/*
Reset CSS 
*/

/* 
Global CSS
*/
:root{
    /* Color */
    --color-pri-lighter: #C8FACD;
    --color-pri-light: #5BE584;
    --color-pri-main: #00AB55;
    --color-pri-dark: #007B55;
    --color-pri-darker: #005249;
    --color-pri-trans8: #00AB5514;
    --color-pri-trans12: #00AB551F;
    --color-pri-trans16: #00AB5529;
    --color-pri-trans24: #00AB553D;
    --color-pri-trans32: #00AB5552;
    --color-pri-trans48: #00AB557A;
    --color-pri-gradient: linear-gradient(135deg, #5BE584 0%, #00AB55 100%);

    --color-sec-lighter: #D6E4FF;
    --color-sec-light: #84A9FF;
    --color-sec-main: #3366FF;
    --color-sec-dark: #1939B7;
    --color-sec-darker: #091A7A;
    --color-sec-trans8: #3366FF14;
    --color-sec-trans12: #3366FF1F;
    --color-sec-trans16: #3366FF29;
    --color-sec-trans24: #3366FF3D;
    --color-sec-trans32: #3366FF52;
    --color-sec-trans48: #3366FF7A;
    --color-sec-gradient: linear-gradient(135deg, #84A9FF 0%, #1939B7 100%);

    --color-info-lighter: #CAFDF5;
    --color-info-light: #61F3F3;
    --color-info-main: #00B8D9;
    --color-info-dark: #006C9C;
    --color-info-darker: #003768;
    --color-info-trans8: #00B8D914;
    --color-info-trans12: #00B8D91F;
    --color-info-trans16: #00B8D929;
    --color-info-trans24: #00B8D93D;
    --color-info-trans32: #00B8D952;
    --color-info-trans48: #00B8D97A;
    --color-info-gradient: linear-gradient(135deg, #61F3F3 0%, #00B8D9 100%);

    --color-success-lighter: #D8FBDE;
    --color-success-light: #86E8AB;
    --color-success-main: #36B37E;
    --color-success-dark: #1B806A;
    --color-success-darker: #0A5554;
    --color-success-trans8: #36B37E14;
    --color-success-trans12: #36B37E1F;
    --color-success-trans16: #00B8D929;
    --color-success-trans24: #36B37E3D;
    --color-success-trans32: #36B37E52;
    --color-success-trans48: #36B37E7A;
    --color-success-gradient: linear-gradient(135deg, #86E8AB 0%, #36B37E 100%);

    --color-warning-lighter: #FFF5CC;
    --color-warning-light: #FFD666;
    --color-warning-main: #FFAB00;
    --color-warning-dark: #B76E00;
    --color-warning-darker: #7A4100;
    --color-warning-trans8: #FFAB0014;
    --color-warning-trans12: #FFAB001F;
    --color-warning-trans16: #FFAB0029;
    --color-warning-trans24: #FFAB003D;
    --color-warning-trans32: #FFAB0052;
    --color-warning-trans48: #FFAB007A;
    --color-warning-gradient: linear-gradient(135deg, #FFD666 0%, #FFAB00 100%);

    --color-error-lighter: #FFE9D5;
    --color-error-light: #FFAC82;
    --color-error-main: #FF5630;
    --color-error-dark: #B71D18;
    --color-error-darker: #7A0916;
    --color-error-trans8: #FF563014;
    --color-error-trans12: #FF56301F;
    --color-error-trans16: #FF563029;
    --color-error-trans24: #FF56303D;
    --color-error-trans32: #FF563052;
    --color-error-trans48: #FF56307A;
    --color-error-gradient: linear-gradient(135deg, #FFAC82 0%, #FF5630 100%);

    --color-grey-100: #F9FAFB;
    --color-grey-200: #F4F6F8;
    --color-grey-300: #DFE3E8;
    --color-grey-400: #C4CDD5;
    --color-grey-500: #919EAB;
    --color-grey-600: #637381;
    --color-grey-700: #454F5B;
    --color-grey-800: #212B36;
    --color-grey-900: #161C24;
    --color-grey-trans8: #919EAB14;
    --color-grey-trans12: #919EAB1F;
    --color-grey-trans16: #919EAB29;
    --color-grey-trans24: #919EAB3D;
    --color-grey-trans32: #919EAB52;
    --color-grey-trans48: #919EAB7A;

    --color-common-black: #000000;
    --color-common-black-trans8: #00000014;
    --color-common-black-trans12: #0000001F;
    --color-common-black-trans16: #00000029;
    --color-common-black-trans24: #0000003D;
    --color-common-black-trans32: #00000052;
    --color-common-black-trans48: #0000007A;
    --color-common-white: #FFFFFF;
    --color-common-white-trans8: #FFFFFF14;
    --color-common-white-trans12: #FFFFFF1F;
    --color-common-white-trans16: #FFFFFF29;
    --color-common-white-trans24: #FFFFFF3D;
    --color-common-white-trans32: #FFFFFF52;
    --color-common-white-trans48: #FFFFFF7A;

    --color-text-pri: var(--color-grey-800);
    --color-text-sec: var(--color-grey-600);
    --color-text-disabled: var(--color-grey-500);

    --color-divider: #919EAB3D;
    --color-bg-default: var(--color-common-white);
    --color-bg-paper: var(--color-common-white);
    --color-bg-neutral: var(--color-grey-100);
    /* Color */

    /* Opacity */
    --opacity-state-hover: 0.8;
    --opacity-state-selected: 0.8;
    --opacity-state-disabled: 4.8;
    --opacity-state-focus: 1.2;
    --opacity-state-activated: 1.2;

    --opacity-8: .8;
    --opacity-12: 1.2;
    --opacity-16: 1.6;
    --opacity-24: 2.4;
    --opacity-32: 3.2;
    --opacity-48: 4.8;
    /* Opacity */

    /* Shadow */
    --shadow-color-pri: 0px 8px 16px 0px var(--color-pri-trans24);
    --shadow-color-sec: 0px 8px 16px 0px var(--color-sec-trans24);
    --shadow-color-info: 0px 8px 16px 0px var(--color-info-trans24);
    --shadow-color-success: 0px 8px 16px 0px var(--color-success-trans24);
    --shadow-color-warning: 0px 8px 16px 0px var(--color-warning-trans24);
    --shadow-color-error: 0px 8px 16px 0px var(--color-error-trans24);
    --shadow-z1: 0px 1px 2px 0px var(--color-common-black-trans16);
    --shadow-z8: 0px 8px 16px 0px var(--color-common-black-trans16);
    --shadow-z12: 0px 12px 24px -4px var(--color-common-black-trans16);
    --shadow-z16: 0px 16px 32px -4px var(--color-common-black-trans16);
    --shadow-z20: 0px 20px 40px -4px var(--color-common-black-trans16);
    --shadow-z24: 0px 24px 48px 0px var(--color-common-black-trans16);
    --shadow-card: 0px 12px 24px -4px var(--color-common-black-trans16), 0px 0px 2px 0px var(--color-common-black-trans16);
    --shadow-dialog: -40px 40px 80px -8px var(--color-common-black-trans16);
    --shadow-dropdown: -20px 20px 40px -4px var(--color-common-black-trans16), 0px 0px 2px 0px var(--color-common-black-trans16);
    /* Shadow */
}

html{
    font-family: 'Public Sans', sans-serif;
}

/* Grid */
.section{
    width: 100%;
}
[id$="-page"] > :first-child{
    margin-top: 6.5rem;
}
.section__container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75rem;
    margin: auto;
    padding: 1.5rem;
    justify-content: center;
}
.row{
    display: flex;
    /* gap: 1.5rem; */
    width: 100%;
    margin: 0 -12px;
    flex-grow: 1;
}
.col{
    margin-left: 12px;
    margin-right: 12px;
}
.col-1 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 12 - 24px);
}
.col-2 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 6 - 24px);
}
.col-3 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 4 - 24px);
}
.col-4 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 3 - 24px);
}
.col-5 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 12 * 5 - 24px);
}
.col-6 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 2 - 24px);
}
.col-7 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 12 * 7 - 24px);
}
.col-8 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 12 * 8 - 24px);
}
.col-9 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 12 * 9 - 24px);
}
.col-10 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 12 * 10 - 24px);
}
.col-11 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% / 12 * 11 - 24px);
}
.col-12 {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% - 24px);
}
/* .col-fill{
    flex-grow: 1;
    margin-left: 12px;
    margin-right: 12px;
} */
.horizontal {
    display: flex;
    flex-direction: row;
}
.vertical {
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none !important;
}
/* Grid */

/* Font scale */
h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
}
h2{
    font-size: 3rem;
    font-weight: 800;
    line-height: 4rem;
}
h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}
h4{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}
h5{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
}
h6{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
}
.subtitle1{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.subtitle2{
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
}
p,
.body1{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.body2{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
}
.caption{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.overline{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.125rem;
    text-transform: uppercase;
}
/* Font scale */

/* Font style */
.font-underline{
    text-decoration-line: underline;
}
.font-line_through{
    text-decoration-line: line-through;
}
.font-italic{
    font-style: italic;
}
.font-bold{
    font-weight: 700;
}
/* Font style */

/* Button */
button.chip{
    border-radius: 1rem;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.375rem;
    padding: 0.25rem 0.625rem;
    background-color: var(--color-grey-300);
    color: var(--color-grey-800);
}
button.chip:hover{
    color: var(--color-grey-800);
    background-color: var(--color-grey-400);
    transition: ease-in-out 0.1s;
    box-shadow: none;
}
button, input[type="button"], input[type="submit"],
button.type-primary,
input[type="button"].type-primary,
input[type="submit"].type-primary{
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: none;
    border-radius: 0.5rem;

    color: var(--color-common-white);
    background-color: var(--color-pri-main);
    padding: 0.375rem 1rem;
    font-size: 0.875rem;
}
button.type-primary.style-text{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-pri-main);
}
button.type-primary.style-soft{
    background-color: var(--color-pri-trans16);
    color: var(--color-pri-dark);
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover,
button.type-primary:hover,
button.type-primary.style-text:hover,
button.type-primary.style-soft:hover,
input[type="button"].type-primary:hover,
input[type="submit"].type-primary:hover{
    color: var(--color-common-white);
    background-color: var(--color-pri-dark);
    box-shadow: var(--shadow-color-pri);
    transition: ease-in-out 0.1s;
}

button.size-s,
input[type="button"].size-s,
input[type="submit"].size-s{
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.375rem;
    padding: 0.25rem 0.625rem;
}
button.size-s i,
input[type="button"].size-s i,
input[type="submit"].size-s i{
    font-size: 1.125rem;
}
button,
button.size-m,
input[type="button"].size-m,
input[type="submit"].size-m{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 0.375rem 1rem;
}
button i,
button.size-m i,
input[type="button"].size-m i,
input[type="submit"].size-m i{
    font-size: 1.25rem;
}
button.size-l,
input[type="button"].size-l,
input[type="submit"].size-l{
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.625rem;
    padding: 0.6875rem 1.375rem;
}
button.size-l i,
input[type="button"].size-l i,
input[type="submit"].size-l i{
    font-size: 1.5rem;
}

button.type-secondary,
input[type="button"].type-secondary,
input[type="submit"].type-secondary{
    background-color: var(--color-sec-main);
    color: var(--color-common-white);
}
button.type-secondary.style-text{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-sec-main);
}
button.type-secondary.style-soft{
    background-color: var(--color-sec-trans16);
    color: var(--color-sec-dark);
}
button.type-secondary:hover,
button.type-secondary.style-text:hover,
button.type-secondary.style-soft:hover,
input[type="button"].type-secondary:hover,
input[type="submit"].type-secondary:hover{
    color: var(--color-common-white);
    background-color: var(--color-sec-dark);
    transition: ease-in-out 0.1s;
    box-shadow: var(--shadow-color-sec);
}

button.type-inherit,
input[type="button"].type-inherit,
input[type="submit"].type-inherit{
    background-color: var(--color-grey-300);
    color: var(--color-grey-800);
}
button.type-inherit.style-text{
    background-color: rgba(0, 0, 0, 0);
}
button.type-inherit.style-soft{
    background-color: #212B36;
    color: #919EAB14;
}
button.type-inherit:hover,
button.type-inherit.style-text:hover,
button.type-inherit.style-soft:hover,
input[type="button"].type-inherit:hover,
input[type="submit"].type-inherit:hover{
    color: var(--color-grey-800);
    background-color: var(--color-grey-400);
    transition: ease-in-out 0.1s;
    box-shadow: none;
}

button.type-info{
    background-color: var(--color-info-main);
    color: var(--color-common-white);
}
button.type-info.style-text{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-info-main);
}
button.type-info.style-soft{
    background-color: var(--color-info-trans16);
    color: var(--color-info-dark);
}
button.type-info:hover,
button.type-info.style-text:hover,
button.type-info.style-soft:hover{
    color: var(--color-common-white);
    background-color: var(--color-info-dark);
    transition: ease-in-out 0.1s;
    box-shadow: none;
}

button.type-success{
    background-color: var(--color-success-main);
    color: var(--color-common-white);
}
button.type-success.style-text{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-success-main);
}
button.type-success.style-soft{
    background-color: var(--color-success-trans16);
    color: var(--color-success-dark);
}
button.type-success:hover,
button.type-success.style-text:hover,
button.type-success.style-soft:hover{
    color: var(--color-common-white);
    background-color: var(--color-success-dark);
    transition: ease-in-out 0.1s;
    box-shadow: var(--shadow-color-success);
}

button.type-warning{
    background-color: var(--color-warning-main);
    color: #212B36;
}
button.type-warning.style-text{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-warning-main);
}
button.type-warning.style-soft{
    background-color: var(--color-warning-trans16);
    color: var(--color-warning-dark);
}
button.type-warning:hover,
button.type-warning.style-text:hover,
button.type-warning.style-soft:hover{
    color: #212B36;
    background-color: var(--color-warning-dark);
    transition: ease-in-out 0.1s;
    box-shadow: var(--shadow-color-warning);
}

button.type-error{
    background-color: var(--color-error-main);
    color: var(--color-common-white);
}
button.type-error.style-text{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-error-main);
}
button.type-error.style-soft{
    background-color: var(--color-error-trans16);
    color: var(--color-error-dark);
}
button.type-error:hover,
button.type-error.style-text:hover,
button.type-error.style-soft:hover{
    color: var(--color-common-white);
    background-color: var(--color-error-dark);
    transition: ease-in-out 0.1s;
}

button.type-disable{
    background-color: #919EAB3D;
    color: #919EABCC;
}
button.type-disable.style-text{
    background-color: rgba(0, 0, 0, 0);
}
/* Button */

/* Tab */
a.tab{
    display: flex;
    flex-direction: column;
    color: var(--color-text-pri);    
}
a.tab:hover{
    color: var(--color-pri-main);    
    transition: ease-in-out 0.1s;
    text-decoration: none;
}
a.tab.active{
    display: flex;
    flex-direction: column;
    color: var(--color-text-pri);    
}
a.tab.active::after{
    content: "";
    border-bottom: 2px solid var(--color-pri-main);
    margin: 0 -8px;
    margin-top: 8px;
    margin-bottom: -8px;
}
a.tab.active:hover{
    color: var(--color-pri-main);    
    transition: ease-in-out 0.1s;
}
/* Tab */

/* Form */
.input-requirements{
    display: none;
    margin-top: -1rem;
    color: var(--color-error-main);
    font-size: 0.75rem;
    text-align: left;
    width: 100%;
}
.input-requirements.invalid{
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    outline: none;
    border: 1px solid var(--color-grey-trans32);
    border-radius: 0.5rem;
    font-size: 1rem;
    height: 2.5rem;
    padding: 0.5rem 0.875rem;
}
input[type="text"].size-l,
input[type="password"].size-l,
input[type="email"].size-l{
    height: 3.5rem;
    padding: 1rem 0.875rem;     
}
input[type="text"].size-m,
input[type="password"].size-m,
input[type="email"].size-m{
    height: 2.5rem;
    padding: 0.5rem 0.875rem;
}
input[type="text"].size-s,
input[type="password"].size-s,
input[type="email"].size-s{
    font-size: 0.875rem;
    height: 2rem;
    padding: 0.5rem 0.52rem;
}

input[id^="checkbox"],
input[type="checkbox"]{
    display: none;
}
label[for^="checkbox"],
label[for^="color"]{
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    padding: 4px;
    margin: 4px;
}
label[for^="color"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3rem;
    height: 2.3rem;
}
label[for^="checkbox"]:hover,
label[for^="color"]:hover{
    opacity: .75;
}
label[for^="checkbox"]::before,
label[for^="color"]::before{
    content: "";
    display: inline-block;
    width: 1.35rem;
    height: 1.35rem;
}
label[for^="checkbox"]::before{
    background-image: url("../brand/icons/svg/checkbox_off.svg");
    object-fit: contain;
    background-repeat: none;
    background-position: center;
}
input[id^="checkbox"]:checked + label::before{
    background-image: url("../brand/icons/svg/checkbox_on.svg");
}
label[for^="color"]::before{
    border-radius: 50%;
    background-color: #a70d0d;
    /* border: 0 solid #fff; */
    outline: 2px solid var(--color-common-black-trans8);
}
input[id^="color"]:checked + label::before{
    width: 100%;
    height: 100%;
    /* border-width: 4px; */
    background-image: url("../brand/icons/svg/checkmark.svg");
    object-fit: contain;
    background-size: 80%;
    background-repeat: none;
    background-position: center;
    box-shadow: var(--shadow-z8);
}
/* Form */

/* Popover */
.popover{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-common-white);
    box-shadow: var(--shadow-z8);
}
/* Popover */

/* Breadcrumb */
.breadcrumb .title{
    margin-bottom: 0.5rem;
}
.breadcrumb .breadcrumb__link{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.breadcrumb .breadcrumb__links > :last-child{
    color: var(--color-text-disabled);
}
.breadcrumb .breadcrumb__link::after{
    content: '';    
    width: 4px;
    height: 4px;
    margin: 0 1rem;
    background-color: var(--color-text-disabled);
    border-radius: 50%;
}
.breadcrumb .breadcrumb__links > :last-child::after{
    content: none;    
}
.breadcrumb .breadcrumb__link:hover{
    text-decoration: underline;
    color: var(--color-pri-main);
}
.breadcrumb .breadcrumb__links > :last-child:hover{
    text-decoration: none;
    color: var(--color-text-disabled);
}
/* Breadcrumb */

/* Table */
table{
    width: 100%;
    min-width: 70.5rem;
    text-align: left;
    border-spacing: 0;
    padding-bottom: 3.5rem;
}
table .table__header{
    color: var(--color-text-sec);
    background-color: var(--color-bg-neutral);
}
table .table__header th,
table td{
    padding: 1rem;
}
/* table .table__header .header__checkbox,
table tr .data__checkbox{
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */
table .table__header .header__more-action{
    width: 1rem;
}
table .more-action{
    width: 2rem;
    justify-content: center;
    border-radius: 50%;
}
table .client__avatar{
    display: flex;
    align-items: center;
    gap: 1rem;
}
table .client__avatar img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
table .client__avatar .client__id{
    color: var(--color-text-sec);
}
.table__footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color-bg-default);
}
.table__footer--action{
    border-top: 1px solid var(--color-grey-trans24);
    width: 100%;
}
.table__footer--action .container{
    width: 100%;
    height: 3.5rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.table__footer--action button{
    width: 2rem;
    justify-content: center;
    border-radius: 50%;
}
table tr.canhover{
    cursor: pointer;
}
table tr.selected{
    background-color: var(--color-grey-trans16);
}
table tr.canhover:hover{
    background-color: var(--color-grey-trans16);
}
/* Table */

/* 
Global CSS
*/

/* 
On desktop 
*/
/* Header */
#header-client,
#header-admin{
    position: fixed;
    top: 0;
    background-color: var(--color-bg-default);
    box-shadow: var(--shadow-z8);
    height: 5.5rem;
    z-index: 9;
}
#header-client .section__container .row,
#header-admin .section__container .row{
    justify-content: space-between;
}
.header__block--left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header__block--left .logo,
.footer__about-brand .logo{
    cursor: pointer;
    width: 8.75rem;
    height: 2.5rem;
}
.header__block--right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header__avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.header__bugerbtn{
    display: none;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-grey-trans16);
    cursor: pointer;
}

.mobile-nav{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: calc(100vh - 100%);
    max-width: 260px;
    padding: 1rem;
    box-shadow: var(--shadow-dialog);
    background-color: var(--color-bg-default);
    transform: translateX(0);
    transition: ease-in-out 0.1s;
}
.mobile-nav > *{
    width: 100%;
}
.mobile-nav.collapsed{
    /* display: flex;
    flex-direction: column; */
    transform: translateX(100vw);
    transition: ease-in-out 0.1s;
    opacity: 0;
}
.space{
    flex-grow: 1;
}

.account-popover{
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 1.5rem;
    width: 100%;
    max-width: 260px;
}
.account-popover.collapsed{
    display: none;
}
.account-popover > *{
    width: 100%;
}
.hello-account{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    background-color: var(--color-grey-trans8);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.hello-account p{
    color: var(--color-pri-main);
    flex-grow: 1;
}
.hello-account span{
    flex-grow: 1;
}
.hello-account__button{
    /* position: absolute; */
    align-self: right;
    width: 2rem;
    justify-content: center;
    border-radius: 50%;
}
.hello-account:hover{
    cursor: pointer;
    box-shadow: var(--shadow-z1);
    transition: ease-in-out 0.1s;
}
/* Header */

/* Footer */
#footer{
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    background-color: var(--color-bg-default);
    border-top: solid 1px var(--color-grey-trans24);
}
#footer .section__container{
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: wrap;
}
#footer .copyright{
    width: 100%;
    text-align: center;
    color: var(--color-text-pri);
}
.footer__about-brand{
    flex-grow: 1;
    color: var(--color-text-pri);
}
.footer__about-brand > :first-child{
    margin-bottom: 1.5rem;
}
.footer__about-brand .intro{
    max-width: 15.25rem;
}
#footer .socials__item{
    padding: 0.5rem;
    font-size: 1.25rem;
    color: var(--color-grey-600);
}
#footer .socials{
    margin-top: 2.5rem;
}
#footer .socials > :first-child{
    padding-left: 0;
}
#footer .socials__item:hover{
    color: var(--color-pri-main);
}

.footer__nav .nav__title{
    padding-bottom: 0.75rem;
    max-width: 10rem;
}
.footer__nav .nav__item{
    padding-top: 0.75rem;
    max-width: 10rem;
}
.footer__nav .nav__item a{
    color: var(--color-text-pri)
}
.footer__nav .nav__item a:hover{
    color: var(--color-pri-main)
}
/* Footer */

/* Signin */
#login-page .row{
    justify-content: center;
}
.login__title{
    width: 100%;
    text-align: center;
    margin-bottom: 0.25rem;
}
.login__container{
    min-width: 312px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: var(--shadow-card);
    border-radius: 1rem;
    padding: 1.5rem;
    align-items: center;
}
.login__signup--btn{
    color: var(--color-pri-main);
}
.login__form--item{
    width: 100%;
}
.login__form--item > :first-child{
    margin-bottom: 0.5rem;
}
.login__form--item input[type="text"],
.login__form--item input[type="password"],
.login__form--item input[type="email"]{
    width: 100%;
}
.login__sigin--btn{
    justify-content: center;
}
/* Signin */

/* Signup */
#signup-page .row{
    justify-content: center;
}
.signup__title{
    width: 100%;
    text-align: center;
    margin-bottom: 0.25rem;
}
.signup__container{
    min-width: 312px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: var(--shadow-card);
    border-radius: 1rem;
    padding: 1.5rem;
    align-items: center;
}
.signup__login--btn{
    color: var(--color-pri-main);
}
.signup__form--item{
    width: 100%;
}
.signup__form--item > :first-child{
    margin-bottom: 0.5rem;
}
.signup__form--item input[type="text"],
.signup__form--item input[type="password"],
.signup__form--item input[type="email"]{
    width: 100%;
}
.signup__signup--btn{
    justify-content: center;
}
/* Signup */

/* 
On desktop 
*/

/* Under desktop */
@media only screen and (max-width: 1216px){
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    /* .col-fill{
        padding: 0, 12px;
    } */
    .col{
        margin-left: 0;
        margin-right: 0;
    }
    /* .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    } */
    h1{
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 3.125rem; 
    }
    h2{
        font-size: 2rem;
        font-weight: 800;
        line-height: 2.625rem;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.25rem;
    }
    h4{
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.875rem;
    }
    h5{
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.6875rem; 
    }
    h6{
        font-size: 1.0625rem;
        font-weight: 700;
        line-height: 1.625rem;
    }

    .section__container{
        width: 100%;
        padding: 1.25rem
    }

    .header__block--right{
        gap: 1rem;
    }
    .header__block--left .logo,
    .footer__about-brand .logo{
        width: 7rem;
        height: 2rem;
    }
    .header__block--right [class*="tab"],
    .header__block--right [class*="tab"].active,
    .header__search,
    .header__block--right .header__avatar {
        display: none;
    }

    .mobile-nav{
        display: flex;
    }
    .header__bugerbtn{
        display: flex;
    }
    .header__bugerbtn:hover{
        background-color: var(--color-grey-trans8);
        color: var(--color-pri-main);
        transition: ease-in-out 0.1s;
    }
    .account-popover{
        right: 5rem;
    }
    .hello-account{
        margin: 0.5rem 0;
    }  
    .header-signin-signup{
        margin: 0.5rem 0;
    }   
    .header__block--right .header-signin-signup{
        display: none;
    }
}
/* Under desktop */

/* 
On tablet
*/
@media only screen and (min-width: 801px) and (max-width: 1216px){


}
/* 
On tablet
*/

/* 
On mobile
*/
@media only screen and (max-width: 800px){
    #footer .section__container{
        justify-content: center;
        text-align: center;
    }
    .footer__about-brand{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* 
On mobile
*/